<div #tableContainer>
    <p-tree-table> </p-tree-table>
</div>

<!-- <div #tableContainer>
    <div class="card">
        <div class="font-semibold text-xl mb-4">Templates</div>
        <p-table #dt [value]="templates" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" [showGridlines]="true" [paginator]="true" [globalFilterFields]="['name', 'description']" responsiveLayout="scroll">
            <ng-template #caption>
                <div class="flex justify-between items-center flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-between items-center">
                            Name
                            <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-between items-center">
                            Description
                            <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-template>
                <tr>
                    <td>
                        {{ template.name }}
                    </td>
                    <td>
                        {{ template.description }}
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="8">No templates found.</td>
                </tr>
            </ng-template>
            <ng-template #loadingbody>
                <tr>
                    <td colspan="8">Loading template data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div> -->
